.svg-animation-container {
    width: 800px;
    box-shadow: 0;
    padding: 24px;
    margin: 0 auto;
    border-radius: 20%;
    height: 520px;
}

.svg-animation-container svg {
    width: 100%;
}

#bg-element {
    animation: changeColor 3s infinite alternate;
}

@keyframes changeColor {
    0% {
        fill: red;
    }
    100% {
        fill: blue;
    }
}

#ball {
    animation: bounce 1s infinite ease-out alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-100px);
    }
}

#boot {
    animation: movement 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes movement {
    0% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-5deg);
    }
}

#right-hand {
    animation: moveHand 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes moveHand {
    0% {
        transform: rotate(-5deg);
    }
    70% {
        transform: rotate(10deg);
    }
}